<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mercy.extmapper.queue.QueueUserinfoExtMapper">
    <resultMap id="BaseResultMap" type="com.mercy.model.queue.QueueUserinfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
        <result column="sort_score" jdbcType="INTEGER" property="sortScore" />
        <result column="current_sort" jdbcType="INTEGER" property="currentSort" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
        <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    </resultMap>
    <sql id="Base_Column_List">
       id, username, order_no, contact_mobile, sort_score, current_sort, gmt_create, gmt_update,
      user_status
    </sql>

    <!--批量更新数据库数据-->
    <update id="updateByPrimarykeyBatch">
        update queue_userinfo set gmt_update =now(),
        <trim prefix="current_sort=case" suffix="end,">
            <foreach collection="users" item="user">
                when id=#{item.id} then #{item.currentSort}
            </foreach>
        </trim>
        where id in
        <foreach collection="list" open="(" close=")" item="user" separator=",">
            #{user.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!--查询队列的列表-->
    <select id="selectQueueList" parameterType="map" resultMap="BaseResultMap">
        select * from queue_userinfo a
        where a.user_status =#{normal}
        order by ${orderBy}
        <if test="start !=null">
            limit #{start},#{end}
        </if>
    </select>

    <!--查询队列的数据条数-->
    <select id="selectQueueListRecords" parameterType="map" resultType="java.lang.Integer">
        select count(*) from queue_userinfo a
        where a.user_status =#{normal}
    </select>

    <!--查询队列的最后一名-->
    <select id="selectMaxQueueUserInfo" parameterType="map" resultMap="BaseResultMap">
      select max(sort_score),current_sort from queue_userinfo where user_status=#{normal}
    </select>

</mapper>